body, td, div, a, img {
  font-family: 'Microsoft Yahei','simhei',sans-serif;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: gray;
}

#page {
  background: url(background.png) no-repeat;
  height: 758px;
  width: 1010px;
  min-width: 1010px;
  margin: auto;
  padding-top: 20px;
  margin-top: 15px;
}

#toolbar {
  width: 930px;
  height: 78px;
  margin: 0px auto;
  border-radius: 8px;
  background-color: #436d90;
  -webkit-box-shadow: 1px 3px 3px black;
  position: relative;
}

#logo {
  margin: -26px auto auto 318px;
  -webkit-box-shadow: 0px 5px 5px black;
}

#title{
  width: 930px;
  height: 17px;
  background-color: #365778;
  border: 0px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#tools {
  position: relative; 
  padding: 0px;
  top: -72px;
  left: 698px;
  width: 215px;
}

#tools > * {
  background: url(icon.png);
  background-repeat: no-repeat;
  float: left;
}

.split {
  width: 5px;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
}

#settings, #helps, #logout {
  width: 55px;
  height: 55px;
  padding-top: 54px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

#helps    { background-position: -60px 0px; }
#logout   { background-position: -115px 0px; }
#settings { background-position: -5px 0px; }

#usr {
  position: relative; 
  padding: 0px;
  display: none;
  top: -75px;
  width: 250px;
}

#usr > * {
  margin-left: 10px;
  position: relative;
}

#usr > #photo {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

#usr label {
  position: absolute;
  left: 65px;
}

#usr #nick {
  top: 15px;
}

#usr #money {
  top: 42px;
}

#content {
  width: 1000px;
  margin: 0 auto;
}

/* SEATS_TABLE */
#seats_wrapper {
  width: 650px;
  height: 310px;
  position: absolute;
  top: 20px;
  left: 172px;
  background: url(table.png) no-repeat center;
}

.seat {
  position: absolute;
  width: 60px;
  height: 88px;
  font-size: 16px;
  padding: 0px
  margin: 0px;
  border: 0px;
}

.seat .photo {
  width: 60px;
  height: 60px;
}

#hall_commands {
  position: absolute;
  top: 320px;
  left: 800px;
}

.blockMsg {
  border-radius: 8px !important;
  border: 3px solid #174f75 !important;
  background-color: #0f263d !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 1px #929da7 !important;
  margin: 0px auto !important;
  width: 400px !important;
  -webkit-box-shadow: 2px 2px 2px black;
  left: 0px !important;
  right: 0px !important;
  top: 260px !important;
}

.msg {
  padding: 0px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #929da7;
}

/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
  margin: 0;
  padding: 0;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.fht-table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

/* @group Content */

div.fht-table-wrapper {
  overflow: hidden;
}

div.fht-tbody {
  overflow-y: auto;
  overflow-x: auto;
}

.fht-table .fht-cell {
  overflow: hidden;
  height: 1px;
}

/* @end */

/* GAME_TABLE */
#games_wrapper {
  position: absolute;
  width: 680px;
  top: 320px;
  left:80px;
}

.games-table {
  -webkit-box-shadow: 1px 3px 3px black;
  border: 2px solid black;
  font-size: 20px;
}

.games-table th {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8ee), to(#bdbfc2));
  text-shadow: 1px 1px 2px #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.games-table td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.games-table {
  background-color: #d0d2d3;
}

.col_longest {
  width: 180px;
}

.col_short {
  width: 90px;
}

.seat > .inplay,
.seat > .nick {
  color: white;
  text-align: center;
}

.seat > .photo {
  -webkit-box-shadow: 1px 3px 3px black;
}

.selected {
  background-color: #bab1c6 !important;
}

#hall {
  position: absolute;
}

button {
  font-family: 'Microsoft Yahei','simhei',sans-serif;
}

#hall button {
  font-size: 17px;
  display: block;
  background-image: url(btn.png);
  width: 138px;
  height: 48px;
}

.cmdred {
  background-position: 138px 0px;
}

.cmdblue {
  background-position: 276px 0px;
}

#cmd_watch{
}

#game {
  width: 1000px;
  position: absolute;
}

#game > #table {
  position: absolute;
  top: 100px;
  left: 125px;
}

#game_commands {
  position: absolute;
  top: 550px;
  left: 125px;
}

.button {
  background-image: url(button.png);
  display: block;
  width: 70px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: white;
  font-size: 13px;
  float: left;
  padding-top: 16px;
  padding-left: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
}

#room_commands {
  position: absolute;
  top: 500px;
  left: 825px;
}

.game_seat {
  position: absolute;
  width: 84px;
  height: 120px;
  font-size: 14px;
  padding: 0px
  margin: 0px;
  border: 0px;
  text-align: center;
  z-index: 500;
  border-radius: 3px;
}

.actor_seat {
  -webkit-box-shadow: 0px 0px 6px 6px silver;
}

.empty_seat {
  position: absolute;
  width: 84px;
  height: 84px;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
  border: 0px solid #000000;
  background-image: url(sit.png);
  background-repeat: no-repeat;
  color: gray;
  padding-top: 30px;
  cursor: pointer;
}

.game_seat > .photo {
  padding: 0px;
  margin: 0px;
  width: 82px;
  height: 80px;
  border: 1px solid gray;
}

.game_seat > .nick {
  padding: 0px;
  margin: 0px;
  width: 82px;
  height: 18px;
  background-color: #485465;
  opacity: 0.7;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: white;
  padding-top: 3px;
  border: 1px solid gray;
  border-bottom: 0px;
}

.game_seat > .inplay {
  padding: 0px;
  margin: 0px;
  width: 82px;
  height: 16px;
  background-color: #485465;
  margin-top: -4px;
  opacity: 0.7;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  border: 1px solid gray;
  border-top: 0px;
}

.dealer {
  position: absolute;
  top: 70px;
  left: 60px;
}

#game_table {
}

.bet_label, .pot_label {
  background-color: #77B73E;
  position: absolute;
  font-size: 12px;
  border-radius: 20px;
  width: 45px;
}

.pot_label {
  width: 65px;
  text-align: center;
  background-color: #a5a6a6;
}

.background_card {
  position: absolute;
  z-index: 50;
}

.card {
  width: 45px;
  height: 65px;
  display: none;
  position: absolute;
  z-index: 50;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px black;
}

.share_card {
}

.private_card {
}

.bet, .pot {
  position: absolute;
  width: 13px;
  z-index: 100;
}

.ps_fold {
  opacity: 0.75;
}

.timer {
  width: 6px;
  position: absolute;
  top: 0px;
  left: -7px;
  border-radius: 4px;
  border: 1px solid gray;
}

.timer > div {
  background-color: red;
  height: 120px;
  border-radius: 4px;
}

.rank_label {
  top: 447px; 
  left: 530px;
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px 3px gold;
}

#tips {
  color: white;
  border: 2px solid silver;
  border-radius: 6px;
  width: 180px;
  height: 25px;
  padding-top: 8px;
  padding-left: 20px;
  background-color: gray;
  position: absolute;
  top: 490px;
  left: 370px;
}

#raise_range {
  position: absolute;
  left: 520px;
  top: 32px;
}

#raise_number {
  position: absolute;
  left: 525px;
  top: 5px;
  width: 118px;
  height: 22px;
  font-size: 15px;
}

.disabled {
  opacity: 0.7;
}

#winner {
  background-image: url('winner.png');
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: -20px;
}

.buyin {
}
