body, td, div, a {
  font-family: sans-serif;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: gray;
}

#page {
  background: url(background.png) no-repeat;
  height: 758px;
  width: 1010px;
  min-width: 1010px;
  margin: auto;
  padding-top: 20px;
  margin-top: 15px;
}

#toolbar {
  width: 930px;
  height: 78px;
  margin: 0px auto;
  border-radius: 8px;
  background-color: #436d90;
  -webkit-box-shadow: 1px 3px 3px black;
  position: relative;
}

#logo {
  margin: -26px auto auto 318px;
  -webkit-box-shadow: 0px 5px 5px black;
}

#title{
  width: 930px;
  height: 17px;
  background-color: #365778;
  border: 0px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#usr {
  position: absolute; 
  padding: 0px;
  display: none;
  left: 6px;
  top: 10px;
}

#usr > * {
  float: left;
  margin-left: 10px;
}

#usr > #nick {
  margin-top: 14px;
  margin-bottom: 10px;
}

#usr > #photo {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

#content {
  width: 1000px;
  margin: 0 auto;
}

/* GAME_TABLE {{{ */
.games {
  margin: 0px auto auto 60px;
  border-collapse: collapse;
  width: 660px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 1px 3px 3px black;
}

#games_overflow {
  border: 0px;
  padding: 0px;
  margin: 0px;
  max-height:191px;
  height:191px;
  overflow:auto;
}

.games thead tr, .games tfoot tr {
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8ee), to(#bdbfc2));
  height: 40px;
  border-bottom-width: 2px;
}

.games tfoot tr {
  height: 30px;
}

.games tfoot #areas {
  margin-left: 5px;
}

.games tfoot .blinds {
  width: 70px;
  height: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  border: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0px 1px 1px black;
}

.games tfoot .selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#a4a4a4));
}

.games tbody tr {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 38px;
  text-align: center;
  background-color: #d0d2d3;
  -webkit-user-select: none;
}

.games tbody .selected {
  background-color: #bab1c6;
}

.games thead {
  text-shadow: 1px 1px 2px #000000; 
}

/* SEATS_TABLE */
#seats_wrapper {
  width: 650px;
  height: 310px;
  margin: 30px auto -30px auto;
  position: relative;
  background: url(table.png) no-repeat center;
}

.seat {
  position: absolute;
  width: 60px;
  height: 88px;
  font-size: 16px;
  padding: 0px
  margin: 0px;
  border: 0px;
}

.seat .photo {
  width: 60px;
  height: 60px;
}

.blockMsg {
  border-radius: 8px !important;
  border: 3px solid #174f75 !important;
  background-color: #0f263d !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 1px #929da7 !important;
  margin: 0px auto !important;
  width: 400px !important;
  -webkit-box-shadow: 2px 2px 2px black;
  left: 0px !important;
  right: 0px !important;
  top: 260px !important;
}

.msg {
  padding: 0px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #929da7;
}

/*vim :fdm=market*/
