body, td, div, a, img {
  font-family: 'Microsoft Yahei','simhei',sans-serif;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: gray;
}

#page {
  background: url(background.png) no-repeat;
  height: 758px;
  width: 1010px;
  min-width: 1010px;
  margin: auto;
  padding-top: 20px;
  margin-top: 15px;

  #content {
    width: 1000px;
    margin: 0 auto;
  }
}

.cmdred {
  background-position: 138px 0px;
}

.cmdblue {
  background-position: 276px 0px;
}


.pot_label {
  width: 65px;
  text-align: center;
  background-color: #a5a6a6;
}

.background_card {
  position: absolute;
  z-index: 50;
}

.rank_label {
  top: 447px; 
  left: 530px;
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px 3px gold;
}

#tips {
  color: white;
  border: 2px solid silver;
  border-radius: 6px;
  width: 180px;
  height: 25px;
  padding-top: 8px;
  padding-left: 20px;
  background-color: gray;
  position: absolute;
  top: 490px;
  left: 370px;
}

#winner {
  background-image: url('winner.png');
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: -20px;
}

@mixin auto-hide {
  display: none;
}

@mixin top-bottom-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

@mixin auto-margin {
  margin-top: 20px;
}

@mixin m-font {
  font-size: 1.2em;
}

@mixin s-font {
  font-size: 0.8em;
}

@mixin x-font {
  font-size: 2.0em;
}

button {
  width: 80px;
  height: 30px;
  @include m-font;
  font-family: 'Microsoft Yahei','simhei',sans-serif;
}

label {
  @include s-font;
}

h3[id^="msg"] {
  @include auto-hide;
  @include m-font;
}

h3[id^="err"] {
  @include auto-hide;
  @include m-font;
}

div[id^="err"] {
  @include auto-hide;
  @include m-font;
}

.template {
  @include auto-hide;
}

#singin {
  @include auto-hide;
  @include top-bottom-margin;

  form {
    height: 120px; 
    font-size: 1.2em; 

    > input {
      width: 200px; 
      height: 20px; 
    }

    > div {
      > #ckb_save {
        @include auto-margin;
      }

      > #lab_err_singin {
        @include auto-hide;
      }
    }
  }
}

/*div.growlUI { background: url(check48.png) no-repeat 10px 10px }*/
div.growlUI { @include auto-hide; }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left;
}

.buyin {
  table {
    width: 100%;
    padding: 0px 0px 10px 0px;

    td.key {
      text-align: right;
      width: 145px;
    }

    td.value {
      text-align: left; 
      text-indent: 20px;
    }
  }

  a {
    display: block;
  }

  #lab_buyin {
    display: block;
    @include x-font;
    text-shadow: 3px 3px 5px #0F0F0F;
  }

  #lab_min {
    top: 155px;
    left: 40px;
    position: absolute;
  }

  #lab_max {
    top: 155px;
    right: 43px;
    position: absolute;
  }

  #cmd_cancel {
    top: 220px;
    left: 100px;
    position: absolute;
  }

  #cmd_buy {
    top: 207px;
    left: 150px;
    position: absolute;
  }

  #range_buy {
    width: 225px;
    margin-bottom: 60px;
  }
}

strong.nick {
  color: gray;
}

strong.amount {
  color: gold;
  text-shadow: 1px 1px 2px #000000;
}

strong.action {
  color: red;
  text-shadow: 1px 1px 2px #000000;
}

strong.rank {
  color: gray;
  text-shadow: 1px 1px 2px #000000;
}

// TOOLBAR {{{
#toolbar {
  width: 930px;
  height: 78px;
  margin: 0px auto;
  border-radius: 8px;
  background-color: #436d90;
  -webkit-box-shadow: 1px 3px 3px black;
  position: relative;

  #logo {
    margin: -26px auto auto 318px;
    -webkit-box-shadow: 0px 5px 5px black;
  }

  #title{
    width: 930px;
    height: 17px;
    background-color: #365778;
    border: 0px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
  }

  #tools {
    @include auto-hide;
    top: 5px;
    left: 710px;
    width: 215px;
    padding: 0px;
    position: absolute;

    > * {
      background: url(icon.png);
      background-repeat: no-repeat;
      float: left;
    }

    .split {
      width: 5px;
      height: 55px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #settings, #helps, #logout {
      width: 55px;
      height: 55px;
      padding-top: 54px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }

    #helps    { background-position: -60px 0px; }
    #logout   { background-position: -115px 0px; }
    #settings { background-position: -5px 0px; }
  }

  #player {
    top: 10px;
    width: 250px;
    padding: 0px;
    position: absolute; 
    @include auto-hide;

    > * {
      position: absolute;
    }

    > .photo {
      width: 60px;
      height: 60px;
      margin-left: 10px;
      border: 1px solid black;
    }

    > .nick {
      top: 22px;
      margin-left: 78px;
    }

    > .balance {
      top: 45px;
      margin-left: 78px;
    }
  }
}
// @TOOLBAR }}}

// HALL {{{
#hall { 
  @include auto-hide;
  position: absolute;

  .actions {
    top: 324px;
    left: 800px;
    position: absolute;

    button {
      width: 138px;
      height: 48px;
      display: block;
      background-image: url(btn.png);
      @include s-font;
    }
  }
}

#game_list {
  top: 320px;
  left:80px;
  width: 680px;
  height: 278px;
  -webkit-box-shadow: 1px 3px 3px black;
  border: 2px solid black;
  background-color: #d0d2d3;
  position: absolute;

  @include m-font;

  th {
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8ee), to(#bdbfc2));
    text-shadow: 1px 1px 2px #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  tr {
    height: 22px;
  }

  td{
    padding: 5px 0px 5px 0px;
    text-align: center;
  }

  .autofill {
    height: auto;
  }

  .col_longest {
    width: 150px;
  }

  .col_short {
    width: 90px;
  }

  .selected {
    background-color: #bab1c6 !important;
  }
}

/* GAME PREVIEW */
#game_preview {
  top: 20px;
  left: 172px;
  width: 650px;
  height: 310px;
  background: url(table.png) no-repeat center;
  position: absolute;

  .seat {
    width: 60px;
    height: 88px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 16px;

    > .photo {
      width: 60px;
      height: 60px;
      -webkit-box-shadow: 1px 3px 3px black;
    }

    > .inplay, .nick {
      color: white;
      text-align: center;
    }
  }
} 
// @HALL }}}

// GAME {{{
#game { 
  @include auto-hide;
  width: 1000px;
  position: absolute;

  .table {
    top: 100px;
    left: 125px;
    width: 748px;
    height: 377px;
    position: absolute;
    background: url(gametable.png) no-repeat;
  }

  .disabled {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
    color: rgba(255,255,255,0.4) !important;
  }

  .tips {
    @include auto-hide;
  }

  #logs {
    @include s-font;
    position: absolute;
    top: 543px;
    left: 155px;
    width: 385px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 70px;
    resize: none;
    border: 3px solid #cccccc;
    padding: 5px;
    -webkit-border-radius: 7px;
    background-color: rgba(25,25,25,0.7);
    overflow: auto;
  }

  .actions {
    top: 540px;
    left: 570px;
    position: absolute;

    #cmd_check {
      top: 50px;
      left: 0px;
      position: absolute;
    }

    #cmd_raise {
      top: 50px;
      left: 127px;
      position: absolute;
    }

    #raise_range {
      top: 65px;
      left: 260px;
      position: absolute;
    }

    #raise_number {
      top: 20px;
      left: 265px;
      width: 118px;
      height: 22px;
      font-size: 15px;
      position: absolute;
    }
  }

  a.action {
    @include s-font;
    width: 70px;
    height: 30px;
    border: 0px;
    float: left;
    color: white;
    display: block;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    padding: 16px 0px 0px 48px;
    background: url(button.png) no-repeat;
  }

  .buyin {
    @include auto-hide;
  }

  .card, .private_card {
    z-index: 1;
    width: 45px;
    height: 65px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px black;
    position: absolute;
  }

  #cmd_cancel {
    top: 590px;
    left: 20px;
    position: absolute;
  }

  #cmd_leave {
    top: 540px;
    left: 20px;
    position: absolute;
  }

  .dealer {
    top: 70px;
    left: 60px;
    width: 28px;
    height: 36px;
    position: absolute;
    background: url(dealer.png) no-repeat;
  }

  .bet, .pot {
    width: 13px;
    z-index: 1;
    position: absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
  }

  > .empty_seat {
    width: 84px;
    height: 54px;
    border: 0px;
    margin: 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    background: url(sit.png) no-repeat;
    color: gray;
    cursor: pointer;
    position: absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
  }

  > .actor_seat {
   -webkit-box-shadow: 0px 0px 6px 6px silver;
  }

  .high_card {
    -webkit-box-shadow: 1px 1px 3px 3px gold;
  }

  .high_label {
    color: gold;
    text-shadow: -1px 2px 3px #ffb69a;
  }

  // {{{ Playing Seat
  > .playing_seat {
    width: 84px;
    height: 120px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;

    .photo {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 80px;
      border: 1px solid gray;
    }

    .nick {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 18px;
      background-color: #485465;
      opacity: 0.7;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      color: white;
      padding-top: 3px;
      border: 1px solid gray;
      border-bottom: 0px;
      display: block;
    }

    .inplay {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 16px;
      background-color: #485465;
      margin-top: -4px;
      opacity: 0.7;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      color: white;
      border: 1px solid gray;
      border-top: 0px;
      display: block;
    }

    .draw_card {
      width: 41px;
      height: 41px;
      position: absolute;
      @include auto-hide;
    }

    .bet_lab {
      width: 45px;
      height: 12px;
      font-size: 12px;
      position: absolute;
      border-radius: 20px;
      background-color: #77B73E;
      @include auto-hide;
    }

    .actor_timer {
      top: 0px;
      left: -8px;
      width: 7px;
      height: 120px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid gray;
      position: absolute;
      overflow: hidden;

      div {
        width: 7px;
        height: 130px;
        background: -webkit-gradient(linear, 0 0, 0 40%, from(red), to(yellow));
        border-radius: 4px;

        -webkit-transition-property: all;
        -webkit-transition-duration: 14s;
        -webkit-transition-timing-function: ease-in;
      }
    }
    // }}}
  }
}
// @GAME }}}
// vim: fdm=marker
