!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 創世紀-德州撲克

    - @scripts =  %w[jquery jquery.plugins jquery.resloader]
    - @scripts += %w[openpoker/jquery.pp openpoker/jquery.ws]
    - @scripts += %w[player]
    - @scripts += %w[index hall]

    - @scripts.each do |i|
      %script{:src => "js/#{i}.js", :type => 'text/javascript'}

    %link{:href => 'css/index.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #page
      %h3#msg_connect 連線中...
      %h3#msg_loading 加載中...
      %h3#msg_singin  登陸中...
      %h3#err_network 抱歉，網絡連線錯誤，請稍後再試。

      %nav#toolbar
        #title
        %img#logo{:src => 'css/logo.png'}
        #usr
          %img.photo
          %label.nick
          %label.balance
          #pong
        #tools
          #settings 設置
          .split
          #helps 幫助
          .split
          #logout 登出
      #content
        #singin
          %form{:method => 'post'}
            %label 帳號
            %input#txt_identity{:placeholder => '請輸入您的帳號'}
            %br/
            %label 密碼
            %input#txt_password{:placeholder => '請輸入您的密碼', :type => 'password'}
            %br/
            %div
              %input#ckb_save{:type => 'checkbox', :checked => 'checked'} 存儲帳號信息
              %br/
              %label#lab_err_singin 帳號密碼有誤
              %br/
              %button#cmd_singin{:type => 'submit', :style => ''} 登陸

        #hall
          #seats_wrapper
          %table#table_list{:cellspacing => '0px'}
            %thead
              %tr
                %th.col_longest 房間
                %th.col_short 大/小盲注
                %th.col_short 人數
                %th.col_short 旁觀
            %tbody
              - 10.times do 
                %tr

          #hall_commands
            %button#cmd_join.cmdred{:type => 'command'} 加入
            %br/
            %button#cmd_watch.cmdblue{:type => 'command'} 觀戰
