body, td, div, a, img {
  font-family: 'Microsoft Yahei','simhei',sans-serif;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: gray;
}

#page {
  background: url(background.png) no-repeat;
  height: 758px;
  width: 1010px;
  min-width: 1010px;
  margin: auto;
  padding-top: 20px;
  margin-top: 15px;

  #content {
    width: 1000px;
    margin: 0 auto;
  }
}

.blockMsg {
  border-radius: 8px !important;
  border: 3px solid #174f75 !important;
  background-color: #0f263d !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 1px #929da7 !important;
  margin: 0px auto !important;
  width: 400px !important;
  -webkit-box-shadow: 2px 2px 2px black;
  left: 0px !important;
  right: 0px !important;
  top: 260px !important;
}

.msg {
  padding: 0px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #929da7;
}

.cmdred {
  background-position: 138px 0px;
}

.cmdblue {
  background-position: 276px 0px;
}

.actor_seat {
  -webkit-box-shadow: 0px 0px 6px 6px silver;
}

.dealer {
  position: absolute;
  top: 70px;
  left: 60px;
}

.bet_label, .pot_label {
  background-color: #77B73E;
  position: absolute;
  font-size: 12px;
  border-radius: 20px;
  width: 45px;
}

.pot_label {
  width: 65px;
  text-align: center;
  background-color: #a5a6a6;
}

.background_card {
  position: absolute;
  z-index: 50;
}

.card {
  width: 45px;
  height: 65px;
  display: none;
  position: absolute;
  z-index: 50;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px black;
}

.bet, .pot {
  position: absolute;
  width: 13px;
  z-index: 100;
}

.ps_fold {
  opacity: 0.75;
}

.timer {
  width: 6px;
  position: absolute;
  top: 0px;
  left: -7px;
  border-radius: 4px;
  border: 1px solid gray;
}

.timer > div {
  background-color: red;
  height: 120px;
  border-radius: 4px;
}

.rank_label {
  top: 447px; 
  left: 530px;
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px 3px gold;
}

#tips {
  color: white;
  border: 2px solid silver;
  border-radius: 6px;
  width: 180px;
  height: 25px;
  padding-top: 8px;
  padding-left: 20px;
  background-color: gray;
  position: absolute;
  top: 490px;
  left: 370px;
}

#winner {
  background-image: url('winner.png');
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: -20px;
}

@mixin auto-hide {
  display: none;
}

@mixin top-bottom-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

@mixin auto-margin {
  margin-top: 20px;
}

@mixin m-font {
  font-size: 1.2em;
}

@mixin s-font {
  font-size: 0.8em;
}

@mixin x-font {
  font-size: 1.5em;
}

button {
  width: 80px;
  height: 30px;
  @include m-font;
  font-family: 'Microsoft Yahei','simhei',sans-serif;
}

label {
  @include s-font;
}

h3[id^="msg"] {
  @include auto-hide;
  @include m-font;
}

h3[id^="err"] {
  @include auto-hide;
  @include m-font;
}

.template {
  @include auto-hide;
}

#singin {
  @include auto-hide;
  @include top-bottom-margin;

  form {
    height: 120px; 
    font-size: 1.2em; 

    > input {
      width: 200px; 
      height: 20px; 
    }

    > div {
      > #ckb_save {
        @include auto-margin;
      }

      > #lab_err_singin {
        @include auto-hide;
      }
    }
  }
}

// TOOLBAR {{{
#toolbar {
  width: 930px;
  height: 78px;
  margin: 0px auto;
  border-radius: 8px;
  background-color: #436d90;
  -webkit-box-shadow: 1px 3px 3px black;
  position: relative;

  #logo {
    margin: -26px auto auto 318px;
    -webkit-box-shadow: 0px 5px 5px black;
  }

  #title{
    width: 930px;
    height: 17px;
    background-color: #365778;
    border: 0px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
  }

  #tools {
    @include auto-hide;
    top: 5px;
    left: 710px;
    width: 215px;
    padding: 0px;
    position: absolute;

    > * {
      background: url(icon.png);
      background-repeat: no-repeat;
      float: left;
    }

    .split {
      width: 5px;
      height: 55px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #settings, #helps, #logout {
      width: 55px;
      height: 55px;
      padding-top: 54px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }

    #helps    { background-position: -60px 0px; }
    #logout   { background-position: -115px 0px; }
    #settings { background-position: -5px 0px; }
  }

  #player {
    top: 10px;
    width: 250px;
    padding: 0px;
    position: absolute; 
    @include auto-hide;

    > * {
      position: absolute;
    }

    > .photo {
      width: 60px;
      height: 60px;
      margin-left: 10px;
      border: 1px solid black;
    }

    > .nick {
      top: 22px;
      margin-left: 78px;
    }

    > .balance {
      top: 45px;
      margin-left: 78px;
    }
  }
}
// @TOOLBAR }}}

// HALL {{{
#hall { 
  @include auto-hide;
  position: absolute;

  .actions {
    top: 324px;
    left: 800px;
    position: absolute;

    button {
      width: 138px;
      height: 48px;
      display: block;
      background-image: url(btn.png);
      @include s-font;
    }
  }
}

#game_list {
  top: 320px;
  left:80px;
  width: 680px;
  height: 278px;
  -webkit-box-shadow: 1px 3px 3px black;
  border: 2px solid black;
  background-color: #d0d2d3;
  position: absolute;

  @include m-font;

  th {
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8ee), to(#bdbfc2));
    text-shadow: 1px 1px 2px #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  tr {
    height: 22px;
  }

  td{
    padding: 5px 0px 5px 0px;
    text-align: center;
  }

  .autofill {
    height: auto;
  }

  .col_longest {
    width: 150px;
  }

  .col_short {
    width: 90px;
  }

  .selected {
    background-color: #bab1c6 !important;
  }
}

/* GAME PREVIEW */
#game_preview {
  top: 20px;
  left: 172px;
  width: 650px;
  height: 310px;
  background: url(table.png) no-repeat center;
  position: absolute;

  .seat {
    width: 60px;
    height: 88px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 16px;

    > .photo {
      width: 60px;
      height: 60px;
      -webkit-box-shadow: 1px 3px 3px black;
    }

    > .inplay, .nick {
      color: white;
      text-align: center;
    }
  }
} 
// @HALL }}}

// GAME {{{
#game { 
  @include auto-hide;
  width: 1000px;
  position: absolute;

  .table {
    top: 100px;
    left: 125px;
    width: 748px;
    height: 377px;
    position: absolute;
    background: url(gametable.png) no-repeat;
  }

  .disable {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
    color: rgba(255,255,255,0.4) !important;
  }

  .tips {
    @include auto-hide;
  }

  .actions {
    top: 550px;
    left: 125px;
    position: absolute;
  }

  .action{
    @include s-font;
    width: 70px;
    height: 30px;
    border: 0px;
    float: left;
    color: white;
    display: block;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    padding: 16px 0px 0px 48px;
    background: url(button.png) no-repeat;
  }

  #raise_range {
    position: absolute;
    left: 520px;
    top: 32px;
  }

  #raise_number {
    position: absolute;
    left: 525px;
    top: 5px;
    width: 118px;
    height: 22px;
    font-size: 15px;
  }

  > .empty_seat {
    width: 84px;
    height: 84px;
    border: 0px;
    margin: 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    background: url(sit.png) no-repeat;
    color: gray;
    cursor: pointer;
    position: absolute;
  }

  > .playing_seat {
    width: 84px;
    height: 120px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    
    .photo {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 80px;
      border: 1px solid gray;
    }

    .nick {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 18px;
      background-color: #485465;
      opacity: 0.7;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      color: white;
      padding-top: 3px;
      border: 1px solid gray;
      border-bottom: 0px;
      display: block;
    }

    .inplay {
      padding: 0px;
      margin: 0px;
      width: 82px;
      height: 16px;
      background-color: #485465;
      margin-top: -4px;
      opacity: 0.7;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      color: white;
      border: 1px solid gray;
      border-top: 0px;
      display: block;
    }
  }
}
// @GAME }}}
// vim: fdm=marker
