!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 創世紀-德州撲克

    - @scripts = %w[jquery/jquery header positions]
    - @scripts += %w[base64 blockUI resloader timers tools].map do |x| "jquery/jquery.#{x}" end
    - @scripts += %w[prototype websocket].map do |x| "plugins/#{x}" end
    - @scripts += %w[player game game_preview hall index]

    - @scripts.each do |i|
      %script{:src => "js/#{i}.js", :type => 'text/javascript'}

    %link{:href => 'css/index.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #page
      %h3#msg_connect 連線中...
      %h3#msg_loading 加載中...
      %h3#msg_joining 進入中...
      %h3#msg_singin  登陸中...
      %h3#err_network 抱歉，網絡連線錯誤，請稍後刷新重試。

      %nav#toolbar
        #title
        %img#logo{:src => 'css/logo.png'}
        #player
          %img.photo
          %label.nick
          %label.balance
        #tools
          #settings 設置
          .split
          #helps 幫助
          .split
          #logout 登出
      #content
        #singin
          %form{:method => 'post'}
            %label 帳號
            %input#txt_identity{:placeholder => '請輸入您的帳號', :required => 'required'}
            %br/
            %label 密碼
            %input#txt_password{:placeholder => '請輸入您的密碼', :type => 'password', :required => 'required'}
            %br/
            %div
              %input#ckb_save{:type => 'checkbox', :checked => 'checked'} 存儲帳號信息
              %br/
              %label#lab_err_singin 帳號密碼有誤
              %br/
              %button#cmd_singin{:type => 'submit'} 登陸

        #hall
          #game_preview
            %textarea.template
              .seat
                .nick
                %img.photo
                .inplay
          %table#game_list{:cellspacing => '0px'}
            %thead
              %tr
                %th.col_longest 房間
                %th.col_short   大/小盲注
                %th.col_short   人數
                %th.col_short   攜帶額
            %tbody
              %tr.autofill
              -# tbody中如果为空，则table只显示表头

          .actions
            %button#cmd_join.cmdred{:type => 'command'} 加入
            %br/
            %button#cmd_watch.cmdblue{:type => 'command'} 觀戰

          %textarea.template
            %tr
              %td.name
              %td.blind
              %td.player
              %td.limit
        #game
          %img.background{:src => 'css/gametable.png'}
          .tips
            %label#wait_next 請等待參與下局游戏。
            %label#wait_player 請等待其他玩家參與。
          .actions
            %a#cmd_fold.action 蓋牌
            %a#cmd_check.action 過牌
            %a#cmd_call.action 跟注
            %a#cmd_raise.action 加注
            %input#raise_range{:type => 'range', :value => 0, :max => 50, :min => 0}
            %input#raise_number{:type => 'number', :value => 0, :max => 50, :min => 0, :step => 1}
